.my-orders{
    margin-top: 50px;
    margin-bottom: 50px;
}
.my-orders h1{
    text-align: center;
    padding-bottom: 20px;
}
.my-orders .order-img{
    width: 100px;
}
.order-data{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}
.om{
    padding-top: 40px;
}