<div class="user-auth">
    <div *ngIf="!showLogin" class="user-signup">
        <h1>User Sign-up</h1>
        <form #userSignUp="ngForm" (ngSubmit)="signUp(userSignUp.value)" class="common-form">
            <input type="text" placeholder="Enter User Name" name="name" ngModel class="form-input" >
            <input type="text" placeholder="Enter User Email" name="email" ngModel class="form-input">
            <input type="password" placeholder="Enter User Password" name="password" ngModel class="form-input">
            <button class="form-button">SignUp</button>
            <p>Already Have Account ? <a (click)="openLogin()">Click Here</a></p>
        </form>
    </div>

    <div *ngIf="showLogin" class="user-login">
        <h1>User Login</h1>
        <form #userLogin="ngForm" (ngSubmit)="login(userLogin.value)" class="common-form">
            <!-- <input type="text" placeholder="Enter User Name" name="name" ngModel class="form-input"> -->
            <p class="error-p">{{authError}}</p>
            <input type="text" placeholder="Enter User Email" name="email" ngModel class="form-input" #email="ngModel" required email>
            <p class="invalid-input"><span *ngIf="email.invalid && email.touched" >Please Enter Valid Value</span></p>
            <input type="password" placeholder="Enter User Password" name="password" ngModel class="form-input" #password="ngModel" required minlength="3" maxlength="10">
            <p class="invalid-input"><span *ngIf="password.invalid && password.touched" >Please Enter Valid Value</span></p>
            <button [disabled]="userLogin.invalid" class="form-button">Login</button>
            <p>Want to Create Account ? <a (click)="openSignUp()">Click Here</a></p>
        </form>
    </div>
</div>